.background {
  height: 100vh;
  width: auto;
  background-image: url("/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
